<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.promote.mapper.eportal.EportalResourceMapper">

    <resultMap id="BaseResultMap" type="com.bc.promote.entity.eportal.EportalResource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parent_id" column="parent_id" jdbcType="BIGINT"/>
            <result property="resource_code" column="resource_code" jdbcType="VARCHAR"/>
            <result property="resource_name" column="resource_name" jdbcType="VARCHAR"/>
            <result property="resource_icon" column="resource_icon" jdbcType="VARCHAR"/>
            <result property="resource_spread" column="resource_spread" jdbcType="SMALLINT"/>
            <result property="resource_type" column="resource_type" jdbcType="VARCHAR"/>
            <result property="resource_sub_type" column="resource_sub_type" jdbcType="VARCHAR"/>
            <result property="resource_path" column="resource_path" jdbcType="VARCHAR"/>
            <result property="show_order" column="show_order" jdbcType="SMALLINT"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
            <result property="modified_date" column="modified_date" jdbcType="TIMESTAMP"/>
            <result property="modified_user" column="modified_user" jdbcType="VARCHAR"/>
            <result property="created_date" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="created_user" column="created_user" jdbcType="VARCHAR"/>
            <result property="is_delete" column="is_delete" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,resource_code,
        resource_name,resource_icon,resource_spread,
        resource_type,resource_sub_type,resource_path,
        show_order,status,modified_date,
        modified_user,created_date,created_user,
        is_delete
    </sql>
</mapper>
